doctype html
html(lang="zh-CN")
  head
    meta(charset='utf-8')

    meta(name='viewport', content='width=device-width, initial-scale=1')

    link(href="http://libs.baidu.com/bootstrap/2.3.2/css/bootstrap.min.css" rel="stylesheet")

    link(href='css/show_result.css' rel='stylesheet')
    script(src="http://libs.baidu.com/bootstrap/2.3.2/js/bootstrap.min.js")
    title 立项监测报告
  body
    .title.text-center 立项检测报告

    .first_conclusion
      h4 一、总体结论
      ul
        li 总相似比：
          span 90.91
          （红色区域为论文相似部分）
        li 剩余相似比：
          span 9.09%

    .second_conclusion
      h4 二、相似片段分布
      .line_show
        -var location=[{head:0.125,tail:0.4},{head:0.5,tail:0.7},{head:0.75,tail:0.8}]
          each loca in location
            div(style="position:absolute;display: inline-block;background-color:red;width:#{900*(loca.tail-loca.head)}px;height:100%;margin:0;padding:0;left:#{900*loca.head}px") 
        
      div.div 
        div 头部 
        div 中前部 
        div 中部
        div 中后部
        div 尾部
      h6 注：
        span 红色区域
        为文档相似部分

    .third_conclusion
      h4 三、典型相似文档（共1篇）
      table.table.table-bordered
        tr
          td 序号
          td 相似比
          td 文档名称
          td 项目名称
          td 申报人
          td 申报部门
          td 项目负责人
          td 年度
          td 费用（万元）
        -var similarDocs=[{similarity:'0.60',docName:'001+杨畅+档案知识管理',project:'kwz',applicant:'杨幂',department:'天创实业',manager:'李晨新',year:'2015',cost:'10.00'},{similarity:'0.60',docName:'001+杨畅+档案知识管理',project:'kwz',applicant:'杨幂',department:'天创实业',manager:'李晨新',year:'2015',cost:'10.00'},{similarity:'0.60',docName:'001+杨畅+档案知识管理',project:'kwz',applicant:'杨幂',department:'天创实业',manager:'李晨新',year:'2015',cost:'10.00'},{similarity:'0.60',docName:'001+杨畅+档案知识管理',project:'kwz',applicant:'杨幂',department:'天创实业',manager:'李晨新',year:'2015',cost:'10.00'}]
        each doc in similarDocs
          tr
            td 1
            td #{doc.similarity}%
            td #{doc.docName}
            td #{doc.project}
            td #{doc.applicant}
            td #{doc.department}
            td #{doc.manager}
            td #{doc.year}
            td #{doc.cost}  

    .fourth_conclusion
      h4 四、相似问档片段（共2个） 
      table.table.table-bordered
        -
          var sections=[{similarity:'0.80',origin:{
              partId:14589228525179511200,
              index:{
                head:0.30,
                tail:0.70},
             text:"党的十八大把千方百计增加居民收入放在突出位置，努力实现居民收入增长和经济发展同步、劳动报酬增长和劳动生产率提高同步，提高居民收入在国民收入分配中的比重。解决好农民问题是维护农村稳定的根本，以人为本，在农村就是以广大农民为本。只有把人口绝大多数的农民问题解决好了，农村稳定才有可靠的基础。农民增收问题不解决，农村稳定就缺乏基础，农村稳不稳，根本在于能否创造一个促进农民增收，改善和解决群众生活困难的基础环境。解决农民增收问题，事关全局，既是农村工作的基础目标，也是重大的政治问题。随着新阶段农业和农村发展的环境、条件和任务的变化，必须采取更加直接、更加明确、更加有力的措施，促进农民增收。",
              html: ""},hit:{
                docId:2474253538224516094,
                text:"党的十八大把千方百计增加居民收入放在突出位置，努力实现居民收入增长和经济发展同步、劳动报酬增长和劳动生产率提高同步，提高居民收入在国民收入分配中的比重。解决好农民问题是维护农村稳定的根本，以人为本，在农村就是以广大农民为本。只有把人口绝大多数的农民问题解决好了，农村稳定才有可靠的基础。农民增收问题不解决，农村稳定就缺乏基础，农村稳不稳，根本在于能否创造一个促进农民增收，改善和解决群众生活困难的基础环境。解决农民增收问题，事关全局，既是农村工作的基础目标，也是重大的政治问题。随着新阶段农业和农村发展的环境、条件和任务的变化，必须采取更加直接、更加明确、更加有力的措施，促进农民增收。",
                html:"<span>党的十八大把千方百计增加居民收入放在突出位置，努力实现居民收入增长和经济发展同步、劳动报酬增长和劳动生产率提高同步，提高居民收入在国民收入分配中的比重。解决好农民问题是维护农村稳定的根本，以人为本，在农村就是以广大农民为本。只有把人口绝大多数的农民问题解决好了，农村稳定才有可靠的基础。农民增收问题不解决，农村稳定就缺乏基础，农村稳不稳，根本在于能否创造一个促进农民增收，改善和解决群众生活困难的基础环境。解决农民增收问题，事关全局，既是农村工作的基础目标，也是重大的政治问题。随着新阶段农业和农村发展的环境、条件和任务的变化，必须采取更加直接、更加明确、更加有力的措施，促进农民增收。</span>",
                name:"2010010002+7刘伟+当前农村社会稳定存在问题及对策研究.doc"}}]
        each section in sections
          tr
            td(rowspan="2" style='background-color:#EEF5FD' ) 1
            td(style='text-align:center') 送检文档片段
            td(style='text-align:center') 相似文档片段[
              span 18.18%
              | ]
          tr
            td
              .origin 位置：
                .line_show(style='width:450px;height:20px')
                  div(style="position:absolute;display: inline-block;background-color:red;width:#{450*(section.origin.index.tail-section.origin.index.head)}px;height:100%;margin:0;padding:0;left:#{450*section.origin.index.head}px") 
              
                div.div(style='width:450px;height:20px') 
                  div 头部 
                  div 中前部 
                  div 中部
                  div 中后部
                  div 尾部
                p #{section.origin.text}

            td
              .hit
                br
                div #{section.hit.name}
                br
                div(style="color:red") #{section.hit.text}

    .introductions
      p 说明：
        ol
          li 总相似比=送检文档与检测范围全部数据相似部分的字数/送检文档总字数
          li 剩余相似比=总相似比-典型片段总相似比
          li 本报告为检测系统算法自动生成，仅供参考

